{
  "development": {
    "username": "jcatalog",
    "password": "jcatalog",
    "database": "divin_supplier",
    "host": "crow.scand",
    "port": "3306",
    "dialect": "mysql",
    "populateDatabase": "demo"
  },
  "test": {
    "username": "jcatalog",
    "password": "jcatalog",
    "database": "divin_test_supplier",
    "host": "crow.scand",
    "port": "3306",
    "dialect": "mysql"
  },
  "production": {
    "username": "jcatalog",
    "password": "jcatalog",
    "database": "divin_prod_supplier",
    "host": "crow.scand",
    "port": "3306",
    "dialect": "mysql"
  }
}
