version: '2'
services:
  main:
    build: .
    #restart: on-failure:5
    depends_on:  # as of version 1.9.0 Dockerfile's HEALTHCHECK is not supported yet.
      - mysql
      - consul
      - registrator
    labels:
      SERVICE_NAME: 'supplier'  # Service name used by Registrator for adding to Consul's service discovery registry.
      SERVICE_TAGS: 'external'
    volumes:
      - .:/home/node/supplier
    extra_hosts:
      - 'consul:${HOST_IP}'
    environment:
      PORT: $PORT
      HOST_IP: $HOST_IP
      NODE_ENV: $NODE_ENV
    ports:
      - '${PORT}:${PORT}'
    command: "npm run dev"

  nginx:
    image: gr4per/nginx-rp:latest
    ports:
     - '3100:${NGINX_PORT}'
    depends_on:
     - bnp
    environment:
      PORT: '${NGINX_PORT}'
    labels:
      SERVICE_NAME: 'nginx'

  bnp:
    image: gr4per/bnp:latest
    #restart: on-failure:5
    depends_on:  # as of version 1.9.0 Dockerfile's HEALTHCHECK is not supported yet.
     - mysql
     - main
    labels:
      SERVICE_NAME: 'bnp'  # Service name used by Registrator for adding to Consul's service discovery registry.
    environment:
      PORT: '3000'
    ports:
      - '3000:3000'

  mysql:
    image: "mysql:5.6"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "notSecurePa55w0rd"
      MYSQL_DATABASE: "bnp"
    depends_on:
      - registrator

  registrator:
    image: gliderlabs/registrator:latest
    network_mode: host
    depends_on:
     - consul
    volumes:
     - /var/run/docker.sock:/tmp/docker.sock
    command: ['consul://localhost:8500']

  consul:
    image: consul:latest
    network_mode: host
    ports:
      - '8400:8400'
      - '8500:8500'
      - '8600:53/udp'
    labels:
      SERVICE_IGNORE: 'true'  # Do not add any of Consul's services to Consul's service discovery registry.
    command: [agent, '-server', '-ui', '-bootstrap-expect=1', '-bind=${HOST_IP}', '-client=0.0.0.0']

